* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Inter, Fjalla One, Roboto mono, Dancing Script, sans-serif, Lora, Raleway;
    display: grid;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

.contenedor {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: #35424a;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    color: #333333;
}

.contenedor input[type=number] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 1rem;
}
.contenedor select{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30%;
    font-size: 1rem;
    text-align: center;
    text-align-last: center;
}
#btnBuscar{
    padding: 10px 20px;
    background-color: #35424a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
#btnBuscar:hover {
    background-color: #1f2a30;
}
.resultado {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    font-size: 2rem;
}
.error {
    color: #cc0000;
    border-radius: 4px;
    padding: 10px;
}
.grafico {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}